<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>


        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
</head>
<body>
<div id="data">加载数据</div>
<p id="test">111</p>

                <div class="tabbable">

                    <ul class="nav nav-tabs form-switcher">
                      <li>
                        <a name='html-tab' href="#post-object-form" data-toggle="tab">HTML form</a>
                      </li>
                      <li>
                        <a name='raw-tab' href="#post-generic-content-form" data-toggle="tab">Raw data</a>
                      </li>
                    </ul>


                  <div class="well tab-content">

                      <div class="tab-pane" id="post-object-form">

                          <form action="/collector/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                            <fieldset>
                              <input type='hidden' name='csrfmiddlewaretoken' value='Ch76MjSpqSb9xwMB6mjN5YgShMj55ikY' />





    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Name
    </label>


  <div class="col-sm-10">
    <input name="name" class="form-control" type="text"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Phase error
    </label>


  <div class="col-sm-10">
    <input name="phase_error" class="form-control" type="number"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Current error
    </label>


  <div class="col-sm-10">
    <input name="current_error" class="form-control" type="number"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Light power
    </label>


  <div class="col-sm-10">
    <input name="light_power" class="form-control" type="number"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Rated primary current
    </label>


  <div class="col-sm-10">
    <input name="rated_primary_current" class="form-control" type="number"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Ref
    </label>


  <div class="col-sm-10">
    <input name="ref" class="form-control" type="number"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Composite error
    </label>


  <div class="col-sm-10">
    <input name="composite_error" class="form-control" type="number"   >




  </div>
</div>




    <div class="form-group ">

    <label class="col-sm-2 control-label ">
      Test time
    </label>


  <div class="col-sm-10">
    <input name="test_time" class="form-control" type="date"   >




  </div>
</div>






<div class="form-group">

    <label class="col-sm-2 control-label ">
      Foct
    </label>


  <div class="col-sm-10">
    <select class="form-control" name="foct">



            <option value="1"  >Foct object</option>


    </select>




  </div>
</div>




                              <div class="form-actions">
                                <button class="btn btn-primary" title="Make a POST request on the Collector List resource">POST</button>
                              </div>
                            </fieldset>
                          </form>

                      </div>


                    <div class="tab-pane" id="post-generic-content-form">

                        <form action="/collector/" method="POST" class="form-horizontal">
                          <fieldset>



  <div class="form-group">
    <label for="id__content_type" class="col-sm-2 control-label">Media type:</label>
    <div class="col-sm-10">
      <select data-override="content-type" id="id__content_type" name="_content_type" class="form-control">
<option value="application/json" selected="selected">application/json</option>
<option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
<option value="multipart/form-data">multipart/form-data</option>
</select>
      <span class="help-block"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="id__content" class="col-sm-2 control-label">Content:</label>
    <div class="col-sm-10">
      <textarea cols="40" data-override="content" id="id__content" name="_content" rows="10" class="form-control">
{
    &quot;name&quot;: &quot;&quot;,
    &quot;phase_error&quot;: null,
    &quot;current_error&quot;: null,
    &quot;light_power&quot;: null,
    &quot;rated_primary_current&quot;: null,
    &quot;ref&quot;: null,
    &quot;composite_error&quot;: null,
    &quot;test_time&quot;: null,
    &quot;foct&quot;: null
}</textarea>
      <span class="help-block"></span>
    </div>
  </div>


                            <div class="form-actions">
                              <button class="btn btn-primary" title="Make a POST request on the Collector List resource">POST</button>
                            </div>
                          </fieldset>
                        </form>

                    </div>
                  </div>
                </div>




        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->




      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFToken",
          csrfCookieName: "csrftoken"
        };
      </script>
      <script src="/static/rest_framework/js/jquery-1.12.4.min.js"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>


  </body>

</html>




