{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>光智能数据分析平台</title>

    <link href="{% static 'foctapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'foctapp/css/user.css' %}" rel="stylesheet">
    <script src="{% static 'foctapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'foctapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'foctapp/js/echarts.min.js' %}"></script>
</head>
<body>
<!--导航固定在顶部，反色导航条-->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <!--固定宽度转换为100%宽度-->
    <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-brand" href="../home">光智能数据分析平台</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../index">数据检索</a></li>
        <li><a href="../home">数据录入</a></li>
        <li><a href="../foctapp/data_statistics">数据统计</a></li>
        {% block link %}
        {% endblock %}
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <h4><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><strong>生产过程记录</strong></h4>
                <li><a href="">采集器</a></li>
                <li><a href="">传感头</a></li>
            </ul>
            </ul>
            <ul class="nav nav-sidebar">
                <h4><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><strong>工艺文件记录</strong></h4>
                <li><a href="">工艺流程卡</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <h4><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><strong>测试数据记录</strong></h4>
                <li><a href="../foctapp/fsj">反射镜测试</a></li>
                <li><a href="../foctapp/cjq_test">采集器测试</a></li>
                <li><a href="">传感头测试</a></li>
                <li><a href="">整机测试</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <h4><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><strong>出厂检测记录</strong></h4>
                <li><a href="">出厂报告单</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-offset-5 col-md-4">
    {% block content %}{% endblock %}
</div>
{% block index %}
{% endblock %}
{% block cjq_test %}
{% endblock %}
{% block msg %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
